Данные:
https://lms.skillfactory.ru/assets/courseware/v1/92fd198fd3eccc09a8c3498e9dd25588/asset-v1:SkillFactory+DSPR-2.0+14JULY2021+type@asset+block/recipes.json

Создаем признаки - моргалки по ингредиентам.

In [ ]:
import json 
from pprint import pprint 
import pandas as pd 

with open('recipes.json') as f:
    recipes = json.load(f)

# Делаем множество из ингредиентов
ingredients_set = set()
for recipe in recipes:
    for ingredient in recipe['ingredients']:
        ingredients_set.add(ingredient)

df = pd.DataFrame(recipes)

# Функция возвращает 1 или 0 в зависимости от наличия ингредиента в рецепте 
def contains (ingredients_list):
    if ingredient_name in ingredients_list:
        return 1
    else:
        return 0

# Цикл проходит по всем ингредиентам и создает новый столбец с названием ингрединета, 
# а затем применяет к нему функцию 
for ingredient_name in ingredients_set:    
    df[ingredient_name]=df['ingredients'].apply(contains)
    
df['ingredients'] = df['ingredients'].apply(len)
df

In [ ]:
counter = 0

def increment():
   return counter+1

counter = increment()
counter
counter

In [ ]:
a = 1
b = 2

def increment():
    return a+b

c = increment()
c

In [ ]:
one = [1, "2", 3, "4"]
two = ("a", "b", "c", "d")
one.extend(two)

In [ ]:
dict1 = {'a':1,'b':2}

for key, value in dict1.items():
    print(key)
    print(value)

In [ ]:
config = {
    "server": {
        "host": "127.0.0.1",
        "port": "22"
    },
    "configuration": {
        "ssh": {
            "access": True,
            "login": "some",
            "password": "some"
        },
        "name": "2491Oaaf1414"
    }
}
config['configuration']['ssh']['login']

In [ ]:
s='sdf sdfs'
''.join(s.split(' '))

In [ ]:

s ='123'
s.isnumeric()

In [ ]:
import numpy
n=3
m=4
a=numpy.zeros((n, m))
a

In [ ]:
import pandas as pd
users = pd.DataFrame({
    'user_id': [1,2,3,4,3,7,9,10],
    'action':[1,2,3,4,5,6,7,1,3]
}
)

users.groupby('user_id')['action'].count().sort_values(ascending=False).loc[:5]

In [ ]:
products ={'a':10,'b':20}
stocks ={'a':10,'b':20}

for i in stocks:
    print (i)

stocks['a']

In [ ]:
products = {'Oranges (packaged)': 114.99, 'Candy (Rotfront)': 280.0, 'Boiled sausage': 199.99, 'Juice J7 (orange)': 119.99, 'Trout (Seven Seas)': 399.99}
stocks = {'Boiled sausage': '33%', 'Juice J7 (orange)': '12%', 'Trout (Seven Seas)': '18%'}
stocks = {'Oranges (packaged)': '15%', 'Boiled sausage': '10%', 'Candy (Rotfront)': '50%', 'Diapers': '10%'}

def apply_discounts(products, stocks):
    for i in stocks:
        if i in products:
            stocks_float = float(stocks[i].replace('%',''))
            products[i] = round(products[i]*(1-stocks_float/100),2)
    return products

apply_discounts(products, stocks)
products

In [ ]:
import pandas as pd

bronze_top = pd.DataFrame({
    'Country':[1,2,3,4,5,6],
    'Total':[1,2,3,4,5,6]
})

silver_top = pd.DataFrame({
    'Country':[4,5,6],
    'Total':[8,9,10]
})


merged = bronze_top.merge(
    silver_top,
    on='Country',
    how='inner',
    suffixes=('_bronze', '_silver')
)

display(merged)

In [ ]:


import pandas as pd

bronze_top = pd.read_csv(bronze_top.csv,sep=',') 
silver_top = pd.read_csv(silver_top.csv,sep=',') 

merged = bronze_top.merge(
    silver_top,
    on='Country',
    how='inner',
    lsuffix='_bronze',
    rsuffix='_silver'
)

solar_data = solar_data['cum_power'].apply(lambda x: x)

In [134]:
solar_data = pd.read_csv('data/solarpower.zip')
solar_data.head()

         date  cum_power
0  2017-01-01    20111.0
1  2017-01-02    20112.0
2  2017-01-03    20115.0
3  2017-01-04    20117.0
4  2017-01-05    20119.0

In [135]:
for i in solar_data.index:
    if solar_data['cum_power'].loc[i] == -1:
        print (i)
        solar_data['cum_power'].loc[i] = (solar_data['cum_power'].loc[i-1]+solar_data['cum_power'].loc[i+1])/2

45
647

C:\Users\Boris\AppData\Local\Temp\ipykernel_5736\2489937303.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  solar_data['cum_power'].loc[i] = (solar_data['cum_power'].loc[i-1]+solar_data['cum_power'].loc[i+1])/2

In [150]:
for i in solar_data.index:
    if i == 0:
        solar_data['day_power'].loc[i] = 0
    else:
        solar_data['day_power'].loc[i]=solar_data['cum_power'].loc[i]-solar_data['cum_power'].loc[i-1]

solar_data.head()

C:\Users\Boris\AppData\Local\Temp\ipykernel_5736\527620222.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  solar_data['day_power'].loc[i] = 0
C:\Users\Boris\AppData\Local\Temp\ipykernel_5736\527620222.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  solar_data['day_power'].loc[i]=solar_data['cum_power'].loc[i]-solar_data['cum_power'].loc[i-1]

        date  cum_power  day_power
0 2017-01-01    20111.0        0.0
1 2017-01-02    20112.0        1.0
2 2017-01-03    20115.0        3.0
3 2017-01-04    20117.0        2.0
4 2017-01-05    20119.0        2.0

In [151]:
date_m = solar_data['date'].dt.to_period(freq = 'M')

solar_data.groupby(solar_data['date'].dt.to_period(freq = 'M')).mean()

            cum_power  day_power
date
2017-01  20153.096774   3.129032
2017-02  20257.035714   3.714286
2017-03  20444.580645  10.774194
2017-04  20885.033333  16.300000
2017-05  21408.096774  19.000000
2017-06  22068.233333  21.500000
2017-07  22667.096774  18.129032
2017-08  23178.677419  15.064516
2017-09  23573.433333  11.533333
2017-10  23858.322581   6.419355
2017-11  23999.166667   3.233333
2017-12  24058.516129   1.161290
2018-01  24103.516129   2.064516
2018-02  24225.321429   6.928571
2018-03  24461.258065   8.709677
2018-04  24815.300000  14.633333
2018-05  25387.096774  21.032258
2018-06  25959.300000  18.766667
2018-07  26625.483871  22.000000
2018-08  27245.322581  17.096774
2018-09  27692.100000  13.866667
2018-10  28024.230769   9.000000