In [2]:
import pandas as pd

In [27]:
from operator import index
from turtle import left


a = pd.DataFrame(
    data=[
    ('a','a','a'),
    ('b','b','b'),
    ('c','c','c')
    ],
    columns=[1,2,3],
    index=[4,5,5]
    
)

b = pd.DataFrame(
    data=[
    ('a','a','a'),
    ('b','b','b'),
    ('c','c','c')
    ],
    columns=[7,8,9],
    index=[4,5,5]
)

display(a)
display(b)

c = pd.concat([a,b],axis=0)
display (c)

   1  2  3
4  a  a  a
5  b  b  b
5  c  c  c

   7  8  9
4  a  a  a
5  b  b  b
5  c  c  c

     1    2    3    7    8    9
4    a    a    a  NaN  NaN  NaN
5    b    b    b  NaN  NaN  NaN
5    c    c    c  NaN  NaN  NaN
4  NaN  NaN  NaN    a    a    a
5  NaN  NaN  NaN    b    b    b
5  NaN  NaN  NaN    c    c    c

In [9]:
class IntDataFrame():
    def __init__(self, column):
        self.column=column
        self.to_int()
        
    def to_int(self):
        self.column=[int(value) for value in self.column]
    
    def count(self):
        j=0
        for i in self.column:
            if i>0:
                j+=1
        return j
    
    def unique(self):
        uniq=[]
        for i in self.column:
            if i in uniq:
                continue
            else:
                uniq.append(i)
        return len(uniq)

In [10]:
df=IntDataFrame([1,2,3.2])

display(df.to_int())
display(df.count())
df.unique()

None

3

3

In [ ]:
import pickle  
from datetime import datetime  
from os import path  
  
class Dumper():  
    def __init__(self, archive_dir="archive/"):  
        self.archive_dir = archive_dir  
          
    def dump(self, data):  
        # Библиотека pickle позволяет доставать и класть объекты в файл  
        with open(self.get_file_name(), 'wb') as file:  
            pickle.dump(data, file)  
              
    def load_for_day(self, day):  
        file_name = path.join(self.archive_dir, day + ".pkl")   
        with open(file_name, 'rb') as file:  
            sets = pickle.load(file)  
        return sets  
          
    # возвращает корректное имя для файла   
    def get_file_name(self):   
        today = datetime.now().strftime("%y-%m-%d")   
        return path.join(self.archive_dir, today + ".pkl")  
      
      
# Пример использования  
  
data = {  
    'perfomance': [10, 20, 10],  
    'clients': {"Romashka": 10, "Vector": 34}  
}  
  
  
dumper = Dumper()  
  
# Сохраним данные  
dumper.dump(data)  
  
# Восстановим для сегодняшней даты  
file_name = datetime.now().strftime("%y-%m-%d")
restored_data = dumper.load_for_day(file_name)
print(restored_data)  
# => {'perfomance': [10, 20, 10], 'clients': {'Romashka': 10, 'Vector': 34}}

In [ ]:
class OwnLogger():
   def __init__(self):
       self.logs = {"info": None, "warning": None, "error": None, "all": None}
   def log(self, message, level):
       self.logs[level] = message
       self.logs['all'] = message
   def show_last(self, level='all'):
       return self.logs[level]

In [ ]:
logger = OwnLogger()
logger.log("System started", "info")
logger.show_last("error")
# => None
# Некоторые интерпретаторы Python могут не выводить None, тогда в этой проверке у вас будет пустая строка
logger.log("Connection instable", "warning")
logger.log("Connection lost", "error")

logger.show_last()
# => Connection lost
logger.show_last("info")
# => System started