In [1]:
import pandas as pd

In [2]:
income = [478, 512, 196]
expenses = [156, 130, 270]
years = [2018, 2019, 2020]

In [3]:
income = [478, 512, 196]
expenses = [156, 130, 270]
years = [2018, 2019, 2020]

def create_dataframe(income, expenses, years):
    income_dataframe = pd.DataFrame({
    'income':income,
    'expenses':expenses,
    })
    
    income_dataframe.index = years
    return income_dataframe

df = create_dataframe(income, expenses, years)
display (df)

      income  expenses
2018     478       156
2019     512       130
2020     196       270

In [11]:
def get_profit(df,year):
    if year in df.index:
        profit= df.loc[year,'income'] - df.loc[year, 'expenses']
    else:
        profit=None
    return profit
        
year = 2019
display (get_profit(df,year))

382