In [2]:
import pandas as pd

In [28]:
math_exam = pd.read_csv('data/students_performance.csv', sep=',')

display (math_exam.head())

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,female,group B,bachelor's degree,standard,none,72,72,74
1,female,group C,some college,standard,completed,69,90,88
2,female,group B,master's degree,standard,none,90,95,93
3,male,group A,associate's degree,free/reduced,none,47,57,44
4,male,group C,some college,standard,none,76,78,75

In [7]:
math_exam.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 8 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   gender                       1000 non-null   object
 1   race/ethnicity               1000 non-null   object
 2   parental level of education  1000 non-null   object
 3   lunch                        1000 non-null   object
 4   test preparation course      1000 non-null   object
 5   math score                   1000 non-null   int64
 6   reading score                1000 non-null   int64
 7   writing score                1000 non-null   int64
dtypes: int64(3), object(5)
memory usage: 62.6+ KB

In [9]:
math_exam.shape[0]

1000

In [20]:
math_exam.loc[155,['writing score']]

writing score    88
Name: 155, dtype: object

In [21]:
math_exam['math score'].mean()

66.089

In [31]:
math_exam['race/ethnicity'].mode()

0    group C
Name: race/ethnicity, dtype: object

In [34]:
math_exam[math_exam['test preparation course'] == 'completed' ]['reading score'].mean()

73.89385474860335

In [39]:
math_exam[math_exam['math score'] == 0 ].shape[0]

1

In [42]:
display (math_exam[math_exam['lunch'] == 'standard']['math score'].mean())
display (math_exam[math_exam['lunch'] == 'free/reduced']['math score'].mean())

70.03410852713178

58.92112676056338

In [59]:
round(float(math_exam[math_exam['parental level of education'] == "bachelor's degree"].shape[0]/math_exam.shape[0])*100)

12

In [68]:
math_exam['parental level of education'].value_counts(normalize=True)

some college          0.226
associate's degree    0.222
high school           0.196
some high school      0.179
bachelor's degree     0.118
master's degree       0.059
Name: parental level of education, dtype: float64

In [72]:
math_exam[math_exam['race/ethnicity'] == 'group C']['writing score'].mean() - math_exam[math_exam['race/ethnicity'] == 'group A']['writing score'].median()

5.827586206896555