Sql

https://tproger.ru/translations/sql-nosql-database-models/

PostgreSQL

https://postgrespro.ru/docs/postgresql/11/index.html

https://www.postgresql.org/docs/11/index.html

Metabase

SELECT *

FROM sql.kinopoisk

SELECT

    movie_title,

    2020 - year,

    rating
    
FROM sql.kinopoisk

SELECT

    director,

    movie_title,

    10 - rating AS difference
    
FROM sql.kinopoisk

Математические функции и операторы
https://postgrespro.ru/docs/postgresql/11/functions-math

SELECT

    столбец1 AS новое_название,

    столбец2,

    столбец3

FROM таблица

WHERE (условие1 OR условие2)

    AND условие3

ORDER BY сортировка1, сортировка2

OFFSET 1 LIMIT 2


SELECT

    movie_title "Название фильма",

    director "Режиссёр",

    screenwriter "Сценарист",
    
    actors "Актёры"

FROM sql.kinopoisk

WHERE (rating BETWEEN 8 AND 8.5 OR year < 1990)

    AND overview IS NOT NULL

    AND movie_title NOT LIKE 'Т%'

    AND movie_title LIKE '____________'

ORDER BY rating DESC

LIMIT 7

SELECT DISTINCT

    type1
    
FROM sql.pokemon

SELECT DISTINCT

    type1,

    type2
    
FROM sql.pokemon

SELECT

    COUNT(*)
    
FROM sql.pokemon

COUNT — вычисляет число непустых строк;

SUM — вычисляет сумму;

AVG — вычисляет среднее;

MAX — вычисляет максимум;

MIN — вычисляет минимум.

SELECT /*выбор*/

    COUNT(*) AS "всего травяных покемонов", /*подсчёт всех строк; назначить алиас "всего травяных покемонов"*/

    COUNT(type2) AS "покемонов с дополнительным типом", /*подсчёт непустых строк в столбце type2; назначить алиас "покемонов с дополнительным типом"*/

    AVG(attack) AS "средняя атака", /*среднее значение столбца attack; назначить алиас "средняя атака"*/

    AVG(defense) AS "средняя защита" /*среднее значение столбца defense; назначить алиас "средняя защита"*/

FROM sql.pokemon /*из таблицы sql.pokemon*/

WHERE type1 = 'Grass'/*при условии, что значение столбца type1 содержит grass*/

SELECT

    m.id match_id,
    
    t.id team_id

FROM

    sql.matches m

    join sql.teams t on t.api_id = m.home_team_api_id

ORDER BY 1

SELECT

    h.long_name "домашняя команда",

    m.home_team_goals "голы домашней команды",

    m.away_team_goals "голы гостевой команды",

    a.long_name "гостевая команда" 

FROM

    sql.matches m

    JOIN sql.teams h ON m.home_team_api_id = h.api_id
    
    JOIN sql.teams a ON m.away_team_api_id = a.api_id

SELECT [ALL | DISTINCT] список_столбцов|*

FROM список_имён_таблиц

[WHERE условие_поиска]

[GROUP BY список_имён_столбцов]

[HAVING условие_поиска]

[ORDER BY имя_столбца [ASC | DESC],…]

SELECT

    n columns

FROM 

     table_1

UNION ALL

SELECT 

    n columns

FROM 

    table_2
...


UNION ALL

SELECT 

     n columns

FROM 

    table_n

SELECT

         n columns
FROM 

         table_1

UNION ALL

SELECT 

         n columns
FROM 

         table_2
...

UNION ALL

SELECT 

         n columns
FROM 

         table_n

SELECT
         d.first_name,
         d.last_name,
         'телефон заполнен' phone_info
FROM
         sql.driver d
WHERE d.phone IS NOT NULL

UNION

SELECT
         d.first_name,
         d.last_name,
         'телефон не заполнен' phone_info
FROM
         sql.driver d
WHERE d.phone IS NULL

SELECT 

         N columns
FROM 

         table_1

UNION / UNION ALL / EXCEPT / INTERSECT 

SELECT 

         N columns
FROM 

         table_2

2. Типы данных в PostgreSQL

https://postgrespro.ru/docs/postgresql/9.5/ddl-constraints

https://postgrespro.ru/docs/postgrespro/9.5/datatype

TIMESTAMP

SELECT NOW() и SELECT CURRENT_TIMESTAMP.

show timezone

pg_timezone_names.

select now() at time zone 'Europe/Moscow'

"timestamp_column"::date

"date_column"::timestamp

select CURRENT_DATE

select now()::date

SELECT EXTRACT(DAY FROM TIMESTAMP '2001-02-16 20:38:40');

SELECT EXTRACT(DAY FROM INTERVAL '40 days 1 minute');

SELECT EXTRACT(HOUR FROM TIMESTAMP '2001-02-16 20:38:40');

SELECT EXTRACT(MONTH FROM TIMESTAMP '2001-02-16 20:38:40');

SELECT EXTRACT(YEAR FROM TIMESTAMP '2001-02-16 20:38:40');

SELECT EXTRACT(ISOYEAR FROM DATE '2006-01-01');

SELECT EXTRACT(ISOYEAR FROM DATE '2006-01-02');

SELECT EXTRACT(WEEK FROM TIMESTAMP '2001-02-16 20:38:40');

SELECT EXTRACT(CENTURY FROM TIMESTAMP '2000-12-16 12:21:13');

SELECT EXTRACT(DECADE FROM TIMESTAMP '2001-02-16 20:38:40');

SELECT EXTRACT(EPOCH FROM TIMESTAMP WITH TIME ZONE
'2001-02-16 20:38:40.12-08');

SELECT EXTRACT(DOW FROM TIMESTAMP '2001-02-16 20:38:40');

SELECT EXTRACT(DOY FROM TIMESTAMP '2001-02-16 20:38:40');

SELECT EXTRACT(ISODOW FROM TIMESTAMP '2001-02-18 20:38:40');

to_char(timestamp[date],text)

HH24	час (00-23)

MI	минута (00-59)

SS	секунда (00-59)

MS	миллисекунда (000-999)

SSSS	число секунд с начала суток (0-86399)

YYYY	год (4 или более цифр)

YY	последние две цифры года

month	полное название месяца в нижнем регистре (дополненное пробелами до девяти символов)

MM	номер месяца (01-12)

day	полное название дня недели в нижнем регистре, дополненное пробелами до девяти символов

DDD	номер дня в году (001-366)

DD	день месяца (01-31)

ID	номер дня недели по ISO 8601, считая с понедельника (1) до воскресенья (7)

WW	номер недели в году (1-53); первая неделя начинается в первый день года

select to_char(now() at time zone 'Europe/Moscow','"Точное время " HH24 "часов " MI " минут " SS" секунд"') msg

select 'select * from '||t.table_schema||'.'||t.table_name||';' query
from information_schema.tables t
where table_schema = 'shipping'

select upper('Abc') s1 ,lower('xYz') s2

select replace('малако','а','о')

with t as

(
select 'Один два три'::text sample_string
)

select 

 left(t.sample_string,4) one,

 right(left(t.sample_string,8),3) two,

 right(t.sample_string,3) three
 
from t

select format('Hello, %s!', d.first_name) from shipping.driver d

(SELECT book_name object_name, 'книга' object_descritption 

FROM public.books

ORDER BY 1

LIMIT 1)

UNION ALL

(SELECT movie_title, 'фильм' 

FROM sql.kinopoisk

ORDER BY 1

LIMIT 1)

Для подключения нам потребуются следующие данные:

dbname — название базы, к которой нужно подключиться;

user — имя пользователя в СУБД;

password — пароль;

host — адрес, по которому нужно подключиться;

port — порт, к которому нужно подключиться (по умолчанию равен 5432).