Sql

https://tproger.ru/translations/sql-nosql-database-models/

PostgreSQL

https://postgrespro.ru/docs/postgresql/11/index.html

https://www.postgresql.org/docs/11/index.html

Математические функции и операторы
https://postgrespro.ru/docs/postgresql/11/functions-math

Metabase

## Струтура

SELECT 
    
        [ALL | DISTINCT] список_столбцов|*

FROM 

        список_имён_таблиц

WHERE  

        условие_поиска

GROUP BY 

        список_имён_столбцов

HAVING 

        условие_поиска

ORDER BY

        имя_столбца [ASC | DESC],…

___
### OFFSET 1 LIMIT 2 WHERE

SELECT
        
        столбец1 AS новое_название,
        столбец2,
        столбец3

FROM таблица

WHERE (условие1 OR условие2)

        AND условие3

ORDER BY сортировка1, сортировка2

OFFSET 1 LIMIT 2

___
### LIKE 'А%'

SELECT 

        *

FROM 

        sql.kinopoisk

WHERE 

        movie_title LIKE 'А%'

___
### lower

select 

        count(id)

from 

        public.vacancies 

where 

        lower(name) like '%data%' or lower(name) like '%данн%'

___
### BETWEEN


SELECT

        movie_title "Название фильма",
        director "Режиссёр",
        screenwriter "Сценарист",
        actors "Актёры"

FROM sql.kinopoisk

WHERE (rating BETWEEN 8 AND 8.5 OR year < 1990)

        AND overview IS NOT NULL
        AND movie_title NOT LIKE 'Т%'
        AND movie_title LIKE '____________'

ORDER BY rating DESC

LIMIT 7

SELECT /*выбор*/

        type1 AS primary_type, /*столбец type1; присвоить алиас primary_type*/
        type2 AS additional_type, /*столбец type2; присвоить алиас additional_type*/
        COUNT(*) AS pokemon_count /*подсчёт всех строк присвоить алиас pokemon_count*/

FROM 

        sql.pokemon /*из таблицы sql.pokemon*/
GROUP BY 1, 2 /*группировка по столбцам 1 и 2*/
ORDER BY 1, 2 NULLS FIRST /*сортировка по столбцам 1 и 2; сначала нули*/

___
### DISTINCT

SELECT DISTINCT

        type1
    
FROM sql.pokemon

___
### Агрегаторы

COUNT — вычисляет число непустых строк;
<br>SUM — вычисляет сумму;
<br>AVG — вычисляет среднее;
<br>MAX — вычисляет максимум;
<br>MIN — вычисляет минимум.

SELECT /*выбор*/

        COUNT(*) AS "всего травяных покемонов", /*подсчёт всех строк; назначить алиас "всего травяных покемонов"*/

        COUNT(type2) AS "покемонов с дополнительным типом", /*подсчёт непустых строк в столбце type2; назначить алиас "покемонов с дополнительным типом"*/

        AVG(attack) AS "средняя атака", /*среднее значение столбца attack; назначить алиас "средняя атака"*/

        AVG(defense) AS "средняя защита" /*среднее значение столбца defense; назначить алиас "средняя защита"*/

FROM sql.pokemon /*из таблицы sql.pokemon*/

WHERE type1 = 'Grass'/*при условии, что значение столбца type1 содержит grass*/

___
### Алиас


SELECT

        m.id match_id,
    
        t.id team_id

FROM

        sql.matches m

        join sql.teams t on t.api_id = m.home_team_api_id

ORDER BY 1

SELECT

        h.long_name "домашняя команда",

        m.home_team_goals "голы домашней команды",

        m.away_team_goals "голы гостевой команды",

        a.long_name "гостевая команда" 

FROM

        sql.matches m

        JOIN sql.teams h ON m.home_team_api_id = h.api_id
    
        JOIN sql.teams a ON m.away_team_api_id = a.api_id

___
SELECT

        t.long_name,
        SUM(m.away_team_goals) total_goals
FROM

        sql.teams t
        LEFT JOIN sql.matches m ON t.api_id = m.away_team_api_id
GROUP BY t.id

ORDER BY 2 DESC

JOIN<br>
LEFT JOIN<br>
RIGHT JOIN<br> 
FULL OUTER JOIN<br>
CROSS JOIN

NATURAL JOIN<br>
(Когда у таблиц есть несколько столбцов с одинаковыми именами, при NATURAL JOIN условие соединения будет применено на все столбцы с одинаковыми именами.)

___
### UNION

SELECT

        d.first_name,
        d.last_name,
        'телефон заполнен' phone_info
FROM

         sql.driver d
WHERE d.phone IS NOT NULL

UNION

SELECT

        d.first_name,
        d.last_name,
        'телефон не заполнен' phone_info
FROM

         sql.driver d
WHERE d.phone IS NULL

___
(SELECT 

        book_name object_name, 'книга' object_descritption 

FROM 

        public.books

ORDER BY 1

LIMIT 1)

UNION ALL

(SELECT 

        movie_title, 'фильм' 

FROM 

        sql.kinopoisk

ORDER BY 1

LIMIT 1)

___
SELECT 

         N columns
FROM 

         table_1

UNION / UNION ALL / EXCEPT / INTERSECT 

SELECT 

         N columns
FROM 

         table_2

___
EXCEPT - оставляет записи первого запроса, за исключением тех, которые встречаются во втором

INTERSECT - оставляет только те записи, которые встречаются и в первом и втором

Как EXCEPT, так и INTERSECT убирают дубликаты, если они имеются.

___
### Типы данных в PostgreSQL

https://postgrespro.ru/docs/postgresql/9.5/ddl-constraints

https://postgrespro.ru/docs/postgrespro/9.5/datatype

___
### TIMESTAMP

функции

SELECT NOW() 

SELECT CURRENT_TIMESTAMP.

select now() at time zone 'Europe/Moscow'

select CURRENT_DATE

select now()::date

___
### to_char

to_char(timestamp[date],text) преобразует время в текст

to_char(current_timestamp, 'HH12:MI:SS')

Код форматирования	Описание<br>
HH24	час (00-23)<br>
MI	минута (00-59)<br>
SS	секунда (00-59)<br>
MS	миллисекунда (000-999)<br>
SSSS	число секунд с начала суток (0-86399)<br>
YYYY	год (4 или более цифр)<br>
YY	последние две цифры года<br>
month	полное название месяца в нижнем регистре (дополненное пробелами до девяти символов)<br>
MM	номер месяца (01-12)<br>
day	полное название дня недели в нижнем регистре, дополненное пробелами до девяти символов<br>
DDD	номер дня в году (001-366)<br>
DD	день месяца (01-31)<br>
ID	номер дня недели по ISO 8601, считая с понедельника (1) до воскресенья (7)<br>
WW	номер недели в году (1-53); первая неделя начинается в первый день года

select to_char(now(),'"Hello! Today is" DAY yyyy-Mon-dd')

### EXTRACT

SELECT EXTRACT(DAY FROM TIMESTAMP '2001-02-16 20:38:40')

Результат: 16

SELECT EXTRACT(DAY FROM INTERVAL '40 days 1 minute')

Результат: 40

SELECT EXTRACT(HOUR FROM TIMESTAMP '2001-02-16 20:38:40')

Результат: 20

SELECT EXTRACT(MONTH FROM TIMESTAMP '2001-02-16 20:38:40')

Результат: 2

SELECT EXTRACT(YEAR FROM TIMESTAMP '2001-02-16 20:38:40')

Результат: 2001

SELECT EXTRACT(ISOYEAR FROM DATE '2006-01-01')

Результат: 2005

SELECT EXTRACT(ISOYEAR FROM DATE '2006-01-02')

Результат: 2006

SELECT EXTRACT(WEEK FROM TIMESTAMP '2001-02-16 20:38:40')

Результат: 7

SELECT EXTRACT(CENTURY FROM TIMESTAMP '2000-12-16 12:21:13')

Результат: 20

SELECT EXTRACT(CENTURY FROM TIMESTAMP '2001-02-16 20:38:40')

Результат: 21

SELECT EXTRACT(DECADE FROM TIMESTAMP '2001-02-16 20:38:40')

Результат: 200

SELECT EXTRACT(EPOCH FROM TIMESTAMP WITH TIME ZONE
'2001-02-16 20:38:40.12-08')

Результат: 982384720.12

SELECT EXTRACT(DOW FROM TIMESTAMP '2001-02-16 20:38:40')

Результат: 442800

SELECT to_timestamp(982384720.12);

Результат: 2001-02-17 04:38:40.12+00

SELECT EXTRACT(DOY FROM TIMESTAMP '2001-02-16 20:38:40')

Результат: 5

SELECT EXTRACT(ISODOW FROM TIMESTAMP '2001-02-18 20:38:40')

Результат: 47

SELECT EXTRACT(ISODOW FROM TIMESTAMP '2001-02-18 20:38:40');

Результат: 7

### DATE_TRUNC()

 select date_trunc('minute',now())

 * microseconds;
 * milliseconds;
 * second;
 * minute;
 * hour;
 * day;
 * week;
 * month;
 * quarter;
 * year;
 * decade;
 * century;
 * millennium.

МАТЕМАТИЧЕСКИЕ ОПЕРАТОРЫ

select '2019-01-01'::date + 10

select '2019-01-01'::date + 500

select '2019-02-10'::date - '2017-03-01'::date

CHARACTER

character(5) всегда будет пять символов

character varying(5) нельзя будет хранить строку большей длины

TEXT Cтрока неограниченной длины.

### Оператор конкатенации строк — ||

select 

        'select * from '||t.table_schema||'.'||t.table_name||';' query

from information_schema.tables t

where table_schema = 'shipping'

### UPPER() И LOWER()

select upper('Abc') s1 ,lower('xYz') s2

### replace()

select replace('малако','а','о')

### LEFT() И RIGHT()

Функции left(string,n) и right(string,n) возвращает n левых или правых символов от строки

with t as (select 'Один два три'::text sample_string)<br>
select 

        left(t.sample_string,4) one,
        right(left(t.sample_string,8),3) two,
        right(t.sample_string,3) three

from t

### FORMAT()

select format('Hello, %s!', d.first_name) from shipping.driver d

Комбинация символов %s обозначает, что вместо них будет подставлен один из аргументов, причём в том же порядке, что и в исходном столбце.

### coalesce

select

        experience, 
        avg((coalesce(salary_from, salary_to) + coalesce(salary_to,salary_from))/2)

from
    
        public.VACANCIES v /*из таблицы вакансий*/

where (lower(v.name) LIKE '%data scientist%'
    
        or lower (v.name) LIKE '%data science%'
        or lower (v.name) LIKE '%исследователь данных%'
        or (v.name LIKE '%ML%' and v.name not LIKE '%HTML%')
        or lower (v.name) LIKE '%machine learning%'
        or lower (v.name) LIKE '%машинн%обучен%%')  
        and
        (salary_from is not null or salary_to is not null)

group by experience

### LENGTH

SELECT

        AVG(LENGTH(v.key_skills) - LENGTH(replace(v.key_skills, CHR(9), '')) +1)

FROM

        public.VACANCIES v /*из таблицы вакансий*/

where 

        (lower(v.name) LIKE '%data scientist%'
         or lower (v.name) LIKE '%data science%'
        or lower (v.name) LIKE '%исследователь данных%'
        or (v.name LIKE '%ML%' and v.name not LIKE '%HTML%')
        or lower (v.name) LIKE '%machine learning%'
        or lower (v.name) LIKE '%машинн%обучен%%')
        and 
        v.key_skills is not NULl

Для подключения нам потребуются следующие данные:

dbname — название базы, к которой нужно подключиться;

user — имя пользователя в СУБД;

password — пароль;

host — адрес, по которому нужно подключиться;

port — порт, к которому нужно подключиться (по умолчанию равен 5432).

In [ ]:
import pandas as pd
import psycopg2
import warnings

warnings.filterwarnings('ignore')

In [ ]:
DBNAME = '...'
USER = '...'
PASSWORD = '...'
HOST = '...'
PORT = ...

In [ ]:
connection = psycopg2.connect(
    dbname=DBNAME,
    user=USER,
    host=HOST,
    password=PASSWORD,
    port=PORT
)

In [ ]:
query = f'''SELECT *
            FROM sql.kinopoisk
             '''
request = pd.read_sql_query(query, connection)